.sugar-pic {
	width: 250px;
	height: 250px;
    border-radius: 100%;
    
}


.col-md-2 p {
    text-align: left;
    font-size: 0.7em;
    width: 250px;

}

body { 
    margin-top: 40px;
    background-color: #24252D;
	color: white;
    font-family: consolas;
	font-size: 1.3em;
 
}

h2{
    text-align: center;
}

h5 {
    text-align: center;
}

.col-md-8{
    padding-top: 10px;
    padding-right: 150px;

}

.col-md-8 h4 {
    color: #E9BC3F;
    font-size: 0.8em;
}

.links {
    font-size: 0.7em;
    
    
}

.links:hover  {
     font-size: 90%;
 }
