.sugar-pic {
	width: 250px;
	height: 250px;
    border-radius: 100%;
}

body { 
    margin-top: 40px;
    background-color: #24252D;
	color: white;
    font-family: consolas;
	font-size: 1.3em;
 
}

h2{
    text-align: center;
}

.name-box{
    
    padding-top: 100px;
}

.name-box h4 {
    color: #E9BC3F;
    font-size: 0.8em;
}

.links {
    font-size: 0.7em;
}